body {
  background-color: rgb(206, 191, 226);
}

a:link {
	text-decoration: none;
	color: rgb(191, 191, 226);
}

a:visited {
	text-decoration: none;
	color: rgb(191, 191, 226);
}

a:hover {
	text-decoration: none;
	color: rgb(26,26,26);
}

a:active {
	text-decoration: none;
	color: rgb(26,26,26);
}

.flexOuter,
.flexOuterColumn,
.flexOuterCenter,
.flexOuterEnd {
  display: flex;
  flex-flow: row wrap;
}

.flexOuter {
  justify-content: flex-start;
}

.flexOuterCenter {
  justify-content: center;
}

.flexOuterEnd {
  justify-content: flex-end;
}

.flexOuterColumn {
  flex-flow: column wrap;
  justify-content: center;
}

#backdrop {
  background: url(../images/ice_skew_resize_rotate_420.jpg);
  width: 420px;
  height: 846px;
  //margin-left: -20px;
}

@media only screen and (min-width: 420px) {
  #backdrop {
    background: url(../images/ice_skew_resize_rotate_832_crop.jpg);
    height: 1673px;
    width: 832px;
  }
}

@media only screen and (min-width: 920px) {
  #backdrop {
    background: url(../images/ice_skew_1400_640.jpg);
    height: 642px;
    width: 1400px;
  }
}

@media only screen and (min-width: 1020px) and (min-height: 760px) {
  /*custom solution for standard tablet landscape and large table portrait*/
  #backdrop {
    background: url(../images/ice_skew_rotate_1200.jpg);
    height: 2295px;
    width: 1300px;
  }
}

@media only screen and (min-width: 1360px) and (min-height: 1020px) {
  /*custom solution for large tablet landscape*/
  #backdrop {
    background: url(../images/ice_skew_2000_1040.jpg);
    height: 1040px;
    width: 2000px;
  }
}

@media only screen and (min-width: 1400px) {
  #backdrop {
    background: url(../images/ice_skew_2000_905.jpg);
    height: 920px;
    width: 2000px;
  }
}

.fixBarShell {
  position: fixed;
  z-index: 6;
  width: 110%;
  top: 0%;
  right: -10px;
  //border: 1px solid yellow;
}

header {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 0.5em 1em;
  margin: 0;
  color:rgb(191, 191, 226);
  background-color:rgba(26,26,26,0.25);
  //border: 1px solid blue;
}

span.title {
  font-size: 32px;
  font-weight: bold;
  opacity: 0.45;
  flex: 1 1 25%;
}

div.title {
  color: rgb(191, 191, 226);
  opacity: 0.5;
  font-size: 32px;
  font-weight: 450;
  flex: 1 1 5%;
  letter-spacing: 4px;
  margin: 0.6%;
  opacity: 0.45;
  //border: 1px solid red;
  padding-left: 1.5em;
}

div.title#subtitle2,div.title#subtitle1 {
  background-color:rgba(26,26,26,0.25);
  margin-top: 1em;
}

@media only screen and (min-width: 1200px) {
  div.title#subtitle1 {
    margin-top: 2.75em;
  }
}

p.punc {
  color: rgb(191, 191, 226);
  opacity: 0.5;
  font-size: 32px;
  font-weight: bold;
  flex: 1 1 5%;
  margin: 0.6%;
}

div.frame {
  background-image: url(../images/ice_skew_resize_rotate_420.jpg);
  width: 360px;
  height: 725px;
  margin-top: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 4;
}

@media only screen and (min-width: 520px) {
  div.frame {
    background-image: url(../images/ice_skew_resize_rotate_540.jpg);
    width: 540px;
    height: 1050px;
  }

  .flexOuter#menu-shell{
    padding-left: 1em;
  }

  div.title {
    padding-left:2em;
  }
}

@media only screen and (min-width: 760px) {
  div.frame {
    //background-image: url(../images/ice_skew_resize_rotate_540.jpg);
    background:transparent;
    width: 540px;
    height: 1050px;
  }

  .flexOuter#menu-shell{
    padding-left: 1em;
  }

  div.title {
    padding-left: 4em;
  }
}

@media only screen and (min-width: 920px) {
  div.frame {
    background-image: url(../images/ice_skew_1400_640.jpg);
    width: 1300px;
    height: 597px;
  }

  .flexOuter {
    justify-content: center;
    padding-left: 1em;
  }

  div.title {
    text-align: center;
  }
}

@media only screen and (min-width: 1020px) and (min-height: 760px) {
  /*custom solution for standard tablet landscape and large table portrait*/
  div.frame {
    background: url(../images/ice_skew_rotate_1200.jpg);
    height: 2295px;
    width: 1300px;
  }
}

@media only screen and (min-width: 1360px) and (min-height: 1020px) {
  /*custom solution for large tablet landscape*/
  div.frame {
    background: url(../images/ice_skew_2000_1040.jpg);
    height: 1040px;
    width: 2000px;
  }
}


@media only screen and (min-width: 1400px) {
  div.frame {
    background-image: url(../images/ice_skew_2000_905.jpg);
    width: 2000px;
    height: 920px;
  }
}

div.nav {
  background-color: none;
  color:rgb(191, 191, 226);
  font-size: 28px;
  font-weight: 450;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

a { }

dl {
  padding-top: 0;
  margin-top: 2em;
  position: relative;
  z-index: 5;
}

dl dt {
  margin-top: 0.45em;
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
  background-color: dimgrey;
  opacity: 0.45;
  cursor: pointer;
}

dl dt:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 520px) {
  dl {
    margin-top: 2.25em;
    margin-left: 1em;
  }

  dl dt {

  }
}

@media only screen and (min-width: 920px) {
  dl {
    margin-top: 2.5em;
    margin-left: 5em;
    margin-right: 18em;
  }

  dl dt {
    padding: 0.5em 0.5em 0.5em 1.5em;
    text-align: center;
  }

  div.nav {
    display: block;
  }
}

div.clearDiv {
  width: 10%;
  height: 75%;
  float: left;
}

.absShell {
  position: absolute;
  top: 0%;
  left: 124px;
  width: 220px;
  height: 180px;
  opacity: 0.65;
  z-index: 6;
  display: none;
  //border: 3px solid green;
}

@media only screen and (min-width: 520px) {
  .absShell {
    left: 440px;
  }
}

@media only screen and (min-width: 920px) {
  .absShell {
    //top: 4em;
    left: 60%;
  }
}

#book-of-changes {
  top: 80%;
  background-image: url(../images/previews/book-of-changes.jpg);
}
#set {
  top: 70%;
  background-image: url(../images/previews/set.jpg);
}
#chromathagraphic {
  top: 60%;
  background-image: url(../images/previews/chromathagraphic.jpg);
}
#in-unicode-out {
  top: 50%;
  background-image: url(../images/previews/in-unicode-out.jpg);
 }
#bl-api-client {
  top: 40%;
  background-image: url(../images/previews/bl-api-client.jpg);
 }
#equips {
  top: 30%;
  background-image: url(../images/previews/equips.jpg);
 }
#wp-citysnail {
  top: 20%;
  background-image: url(../images/previews/wp-citysnail.jpg);
}
#jsnotebook {
  top: 10%;
  background-image: url(../images/previews/jsnotebook.jpg);
}

@media only screen and (min-width: 520px) {
  #book-of-changes {
    top: 10%;
    background-image: url(../images/previews/book-of-changes.jpg);
  }
  #set {
    top: 20%;
    background-image: url(../images/previews/set.jpg);
  }
  #chromathagraphic {
    top: 30%;
    background-image: url(../images/previews/chromathagraphic.jpg);
  }
  #in-unicode-out {
    top: 40%;
    background-image: url(../images/previews/in-unicode-out.jpg);
   }
  #bl-api-client {
    top: 50%;
    background-image: url(../images/previews/bl-api-client.jpg);
   }
  #equips {
    top: 60%;
    background-image: url(../images/previews/equips.jpg);
   }
  #wp-citysnail {
    top: 70%;
    background-image: url(../images/previews/wp-citysnail.jpg);
  }
  #jsnotebook {
    top: 80%;
    background-image: url(../images/previews/jsnotebook.jpg);
  }
}
