body {
  background-color: rgb(206, 191, 226);
  //font-family:
}

a:link {
	text-decoration: none;
	color: rgb(191, 191, 226);
}

a:visited {
	text-decoration: none;
	color: rgb(191, 191, 226);
}

a:hover {
	text-decoration: none;
	color: rgb(26,26,26);
}

a:active {
	text-decoration: none;
	color: rgb(26,26,26);
}

.flexOuter,
.flexOuterColumn,
.flexOuterCenter,
.flexOuterEnd {
  display: flex;
  flex-flow: row wrap;
}

.flexOuter {
  justify-content: flex-start;
}

.flexOuterCenter {
  justify-content: center;
}

.flexOuterEnd {
  justify-content: flex-end;
}

.flexOuterColumn {
  flex-flow: column wrap;
  justify-content: center;
}

#backdrop {
  background: url(../images/ice_skew_resize_rotate_420.jpg);
  width: 420px;
  height: 846px;
}

@media only screen and (min-width: 520px) {
  #backdrop {
    background: url(../images/ice_skew_resize_rotate_832.jpg);
    height: 1673px;
    width: 832px;
  }
}

@media only screen and (min-width: 920px) {
  #backdrop {
    background: url(../images/ice_skew_resize_14.jpg);
    height: 642px;
    width: 1400px;
  }
}

.fixBarShell {
  position: fixed;
  z-index: 6;
  width: 100%;
  top: 0%;
  //border: 1px solid yellow;
}

header {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 0.5em 1em;
  margin: 0;
  color:rgb(191, 191, 226);
  background-color:rgba(26,26,26,0.25);
  //border: 1px solid blue;
}

span.title {
  font-size: 32px;
  font-weight: bold;
  opacity: 0.45;
  flex: 1 1 25%;
}

div.title {
  color: rgb(191, 191, 226);
  opacity: 0.5;
  font-size: 32px;
  font-weight: 450;
  flex: 1 1 5%;
  letter-spacing: 4px;
  margin: 0.6%;
  opacity: 0.45;
  //border: 1px solid red;
}

p.punc {
  color: rgb(191, 191, 226);
  opacity: 0.5;
  font-size: 32px;
  font-weight: bold;
  flex: 1 1 5%;
  margin: 0.6%;
}

div.frame {
  background-image: url(../images/ice_skew_resize_rotate_360.jpg);
  width: 360px;
  height: 725px;
  margin-top: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 4;
}

@media only screen and (min-width: 520px) {
  div.frame {
    background-image: url(../images/ice_skew_resize_rotate_520.jpg);
    width: 520px;
    height: 1050px;
  }

  .flexOuter {
    padding-left: 1em;
  }
}

@media only screen and (min-width: 920px) {
  div.frame {
    background-image: url(../images/ice_skew_resize.jpg);
    width: 1300px;
    height: 597px;
  }

  .flexOuter {
    justify-content: center;
    padding-left: 1em;
  }

  div.title {
    text-align: center;
  }
}

div.nav {
  background-color: none;
  color:rgb(191, 191, 226);
  font-size: 28px;
  font-weight: 450;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

a { }

dl {
  padding-top: 0;
  margin-top: 2em;
  position: relative;
  z-index: 5;
}

dl dt {
  margin-top: 0.45em;
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
  background-color: dimgrey;
  opacity: 0.45;
  cursor: pointer;
}

dl dt:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 520px) {
  dl {
    margin-top: 2.25em;
    margin-left: 1em;
  }

  dl dt {

  }
  div.title {
    padding-left: 1em;
  }
}

@media only screen and (min-width: 920px) {
  dl {
    margin-top: 2.5em;
    margin-left: 5em;
    margin-right: 18em;
  }

  dl dt {
    padding: 0.5em 0.5em 0.5em 1.5em;
    text-align: center;
  }

  div.nav {
    display: block;
  }
}

div.clearDiv {
  width: 10%;
  height: 75%;
  float: left;
}

.absShell {
  position: absolute;
  top: 0%;
  left: 124px;
  width: 214px;
  height: 179px;
  opacity: 0.65;
  z-index: 6;
  display: none;
  //border: 3px solid green;
}

@media only screen and (min-width: 520px) {
  .absShell {
    left: 440px;
  }
}

@media only screen and (min-width: 920px) {
  .absShell {
    //top: 4em;
    left: 60%;
  }
}

#chromathagraphic {
  top: 80%;
  background-image: url(../images/chromathagraphic.jpg);
}
#lotuseaters {
  top: 70%;
  background-image: url(../images/lotuseaters.jpg);
}
#book-of-change {
  top: 60%;
  background-image: url(../images/book-of-change.jpg);
}
#elasticacres {
  top: 50%;
  background-image: url(../images/elasticacres.jpg);
 }
#integer {
  top: 40%;
  background-image: url(../images/integer.jpg);
 }
#syllablemill {
  top: 30%;
  background-image: url(../images/syllablemill.jpg);
 }
#annunciator {
  top: 20%;
  background-image: url(../images/annunciator.jpg);
}
#jsnotebook {
  top: 10%;
  background-image: url(../images/jsnotebook.jpg);
}

@media only screen and (min-width: 520px) {
  #chromathagraphic {
    top: 10%;
    background-image: url(../images/chromathagraphic.jpg);
  }
  #lotuseaters {
    top: 20%;
    background-image: url(../images/lotuseaters.jpg);
  }
  #book-of-change {
    top: 30%;
    background-image: url(../images/book-of-change.jpg);
  }
  #elasticacres {
    top: 40%;
    background-image: url(../images/elasticacres.jpg);
   }
  #integer {
    top: 50%;
    background-image: url(../images/integer.jpg);
   }
  #syllablemill {
    top: 60%;
    background-image: url(../images/syllablemill.jpg);
   }
  #annunciator {
    top: 70%;
    background-image: url(../images/annunciator.jpg);
  }
  #jsnotebook {
    top: 80%;
    background-image: url(../images/jsnotebook.jpg);
  }
}
